*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    border: 1px solid;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: tomato;
    color: #fff;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.heading{
    margin-bottom: 50px;
}

.converter{
    margin-bottom: 50px;
}

.input{
    display: inline-block;
}

input{
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    border: none;
    margin: 10px;
}

.equal{
    margin-left: 60px;
}